<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>

        
                <table class="table">
                        <thead>
                                <tr>
                                        <th scope="col">Name</th>
                                </tr>
                        </thead>
                        <tbody>
                                <% for(var i=0; i<companies.length; i++) {%>
                                        <tr>
                                                <td>
                                                        <a href="/company/details?companyId=<%= companies[i].id %>">
                                                                <%= companies[i].name %>
                                                        </a>
                                                </td>
                                        </tr>
                                        <% } %>
                        </tbody>
                </table>
        
        <% if (session.user.category === 'Admin' || session.user.category ===  'Senior' ) { %>
                <%- include addCompany.ejs %>
        <% } %>
        <!--
including footer content which is common for all pages
-->
        <%- include layouts/footer.ejs %>