<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>    
 

    <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Process</th>
                  </tr>
                </thead>
                <tbody>
                        <% for(var i=0; i<process.length; i++) {%>
                                <tr> <td>  <%= process[i] %> </td> </tr>
                        <% } %>
                </tbody>
    </table>
    <% if (session.user.category === 'Admin' || session.user.category.user ===  'Senior' ) { %>
      <%- include addQuestion.ejs %>
    <% } %>
    <%- include questions.ejs %>
</div>



<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>