<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>

    <div class="jumbotron jumbotron-fluid">
        <div class="container" style="text-align: center">
            <h3>  <%=question%> </h3>
        </div>
    </div>

    <div>
        <h5>
            Approved Answer
        </h5>
        <p>
                <%=approvedAnswer%>
        </p>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">All Answers</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i=0; i<answers.length; i++) {%>
                <tr>
                    <td>
                            <%=answers[i]%>  
                    </td>

                    <td>
                        <a href="#" class="btn btn-success" role="button">Approve this Answer</a>
                        <a href="#" class="btn btn-link" role="button">Edit this Answer</a>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
    <!--
including footer content which is common for all pages
-->
    <%- include layouts/footer.ejs %>