<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>

<%- include questionJumbotron.ejs %>

    <table class="table table-borderless">
        <tr>
            <td class="text-center" style="width: 50%">
                views: <%=views%> 
            </td>
            <td class="text-center" style="width: 50%">
                <a href="/addAnswer?questionId=<%=req.query.questionId%>&companyId=<%=req.query.companyId%>">Add an answer</a>
            </td>
        </tr>
    </table>

    <div>
        <h5>
            Approved Answer
        </h5>
        <p>
                <%=approvedAnswer%>
        </p>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">All Answers</th>
                <% if (true) { %>
                    <th scope="col" class="text-right">Actions</th>
                <% } %>
                </tr>
            </thead>
            <tbody>
            <% for(var i=0; i<answers.length; i++) {%>
                <tr>
                    <td>
                            <%=answers[i].answer%>  
                    </td>
                    <% if (true) { %>
                    <td class="text-right">
                        <a href="/editAnswer?answerId=<%=answers[i].id%>&companyId=<%=req.query.companyId%>" class="btn btn-link" role="button">Edit this Answer</a>
                        <a href="/approveAnswer?answerId=<%=answers[i].id%>&questionId=<%=req.query.questionId%>&companyId=<%=req.query.companyId%>" class="btn btn-success" role="button">Approve this Answer</a>
                    </td>
                    <% } %>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
    <!--
including footer content which is common for all pages
-->
    <%- include layouts/footer.ejs %>